.cards {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  > ecommerce-product-card {
    display: block;
    display: grid;
    justify-content: center;
  }
}

.no-products {
  text-align: center;
}
// @media (min-width: 600px) {
//   .cards { grid-template-columns: repeat(2, 1fr); }
// }

// @media (min-width: 900px) {
//   .cards { grid-template-columns: repeat(3, 1fr); }
// }
